

<div class="index-header-grid">
       <div>
            <h1>Reminder App</h1>
            <p><i>App Which Reminds Events Via Email To Users</i></p>
            <br><br>
            <h4>Group Members</h4>
            <ul>
                <li>Shamsuddin Gellani</li>
                <li>Danial Shabbir</li>
                <li>Zarlish Tariq</li>
                <li>Uzma Shakoor</li>
                <li>M. Ismail</li>
            </ul>
 
        </div>



